<div class="wrapper-wave">
  <div class="container">
    <div class="section-1">
      <div>
        <h5>
          CIÊNCIAS <br />
          HUMANAS
        </h5>
        <button>Começar</button>
      </div>
      <div>
        <img src="assets/images/img1.png" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="wrapper-info">
  <div class="container">
    <div class="section-2">
      <p>Prova com 10 questões gerais sobre a matéria de ciências humanas.</p>
      <p>O que são as Ciências Humanas?</p>
      <p>
        A área das Ciências Humanas é o conjunto de ciências que tem como objeto
        de estudo o ser humano. Entre as ciências da área de humanas, estão a
        Filosofia, Sociologia ou Ciências Sociais, História, Geografia, Letras,
        Teologia, Antropologia, Comunicação Social, Psicologia, Linguística,
        Artes, entre outras.
      </p>
    </div>
  </div>
</div>

<div class="wrapper-cadastro">
  <div class="container">
    <div class="section-3">
      <h6>Cadastro</h6>
      <form action="#">
        <input placeholder="nome 15" type="text" />
        <input placeholder="email" type="text" />
        <input placeholder="senha" type="text" />
        <div>
          <p>já tem uma conta?</p>
          <button type="submit">Concluir</button>
        </div>
      </form>
    </div>
  </div>
</div>
